In [1]:
# List Data Type 
#list representing a group of elemets as one entity
# allowed duplicates and heterogeneous elements
# List allows (-ve) index values also
#list elements are stored in indexing values

l1 = []    # empty list
l1 = [10,20,30,40,50]  #creating list & list which contains elements
#      0  1  2  3  4

#reading list elements

print (l1)
print (l1[0])
print (l1[1])
print (l1[2])
print (l1[3])
print (l1[4])

[10, 20, 30, 40, 50]
10
20
30
40
50

In [6]:
# we can iterate a list object using while nd loop comcepts

#while 

sizes = [30,32,34,36]

#initialization i=0
#Condition i<=len()
#INCRE/DECRE

i=0
while i<=len(sizes)-1:
        print (sizes[i])
        i=i+1

30
32
34
36

In [7]:
# for 

sizes = [30,32,34,36]

for size in sizes:
    print (size)

30
32
34
36

In [4]:
#update

l1 = [30,32,34,36]
print(l1)
l1.append(38)
print(l1)

[30, 32, 34, 36]
[30, 32, 34, 36, 38]

In [9]:
# we can find the length of the object by using len function
#here we can find count the repeated elements in object by specifying a particular element
#here we can find the index value by specifying a particular element


l1 = [30,32,34,36,32,34,34,36]
print(len(l1))
print(l1.count(34))
print(l1.index(36))

8
3
3

In [11]:
# sorting the elements in list

enames = ["Monika","Govind","David","Likhitha"]
enames.sort()
print(enames)

# if we want to sort in reverse order , we need to specify the bool value 

enames.sort(reverse=True)
print (enames)

['David', 'Govind', 'Likhitha', 'Monika']
['Monika', 'Likhitha', 'Govind', 'David']

In [18]:
#here we can insert the elements in existing object by using insert function nd we must give 2 arguments

ids = [100,102,103,104]
ids.insert(4,105)
print (ids)

[100, 102, 103, 104, 105]